{% extends 'account/base.html' %}
{% load static %}
{% block title %}Products{% endblock %}
{% block content %}


{% if error %}
{{ error }}
<br><br>
{% endif %}
<h1> create </h1>
<form method="POST" action="{% url 'create' %}" enctype="multipart/form-data">
{% csrf_token %}
Title:
<br>
<input type="text" name="title" placeholder="title"/>
<br>
Body:
<br>
<textarea name="body" placeholder="Write something"></textarea>
<br>
URL:
<br>
<input type="text" name="url" placeholder="http//:example.com"/>
<br>
Icon:
<br>
<input type="file" name="icon"/>
<br>
Image:
<br>
<input type="file" name="image"/>
<br>
<br><br>
<input type="submit" value="Add Product"/>



</form>
{% endblock %}

