<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'home_css/css_style.css' %}">
</head>
<body>
    
    <div id="nav">
        <ul>
            <li class="game1"><a href="">Home</a></li>
            <li class="game"><a href="">Signup</a></li>
            <li class="game"><a href="">Login</a></li>
            <li class="game"><a href="">Products</a></li>
            
        </ul>
    </div>

    <div id="body_space">


    <h1>MaakCollection</h1>
    <img src="{% static 'image/wallet.jpg' %}">

    <p>what isflskjf if;asfmjs ifusjflkjasf fuas;fkmdsfksa fiufsldfmjls fjsifusdd fs;lkjf 
        sdfusafjsmf;lskjf s9fusafljkasf sadifousdfljsafl uds8ifusaf;osaijf 
        usfsjlakfljsdf so;fiusdifjsda fsd;klfju 
        safusalfjksal f;lsajfoisudf sjflkdsjfuysdofytawyetr asjdfsa;djf8438rurljsadf assiufyh 
    </p>


    </div>

</body>
</html>