{% extends "account/base.html" %}
{% block content %}
{% block title %} Home {% endblock %}

    <div id="header">

    </div>
    <div id="navbar">

    </div>
    <div class="sideright">
        <h2>lecture Dates</h2>
        <p>kldsjf jasfdasfijas fjasfjsadf </p>
        <p>jfdlsfjoa sdfasiodjfsdfhjas fdf</p>
    </div>
    <h1>MaakCollection</h1>
    

    <p>what isflskjf if;asfmjs ifusjflkjasf fuas;fkmdsfksa fiufsldfmjls fjsifusdd fs;lkjf 
        sdfusafjsmf;lskjf s9fusafljkasf sadifousdfljsafl uds8ifusaf;osaijf 
        usfsjlakfljsdf so;fiusdifjsda fsd;klfju 
        safusalfjksal f;lsajfoisudf sjflkdsjfuysdofytawyetr asjdfsa;djf8438rurljsadf assiufyh 
    </p>




{% endblock %}