{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %} | Home</title>
    <link rel="stylesheet" href="{% static 'home_css/css_style.css' %}"/>
    <link rel="stylesheet" href="{% static 'account/login.css' %}"/>
    <link rel="stylesheet" herf="{% static 'base/base.html' %}"/>
    <link rel="stylesheet" href="{% static 'account/signin.css'%}"/>
</head>
<body>
    
    <div id="nav">
        <ul>
            <li class="game1"><a href="{% url 'home' %}">MaakCollection</a></li>
            {% if user.is_authenticated %}            
            <li class="game"><a href="{% url 'logout' %}">Logout</a></li>
            {% else %}
            <li class="game"><a href="{% url 'signup' %}">Signup</a></li>
            <li class="game"><a href="{% url 'login' %}">Login</a></li>
            {% endif %}
            <li class="game"><a href="{% url 'product' %}">Products</a></li>
            
            
        </ul>
    </div>

    <div id="body_space">
        <div>
            {% block content %}
            {% endblock %}
        </div>
    </div>

</body>
</html>