{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'home_css/css_style.css' %}"/>
    <link rel="stylesheet" href="{% static 'account/login.css' %}"/>
</head>
<body>
    
    <div id="nav">
        <ul>
            <li class="game1"><a href="{% url 'home' %}">MaakCollection</a></li>
            <li class="game"><a href="">Signup</a></li>
            <li class="game"><a href="{% url 'login' %}">Login</a></li>
            <li class="game"><a href="{% url 'product' %}">Products</a></li>
            
        </ul>
    </div>

    <div id="body_space">
        <div>
            {% block content %}
            {% endblock %}
        </div>
    </div>

</body>
</html>