{% extends 'account/base.html' %}
{% block content %}
<div id="sin">
    <form method="POST" action="{% url 'signup' %}">
        {% csrf_token %}
        <h1>Sign in</h1><br>
        <label for="fname">First Name:</label>
        <br>
        <input type="text" id="fname" name="fname" placeholder="First name">
        <br><br>
        <label for="lname">Last Name:</label>
        <br>
        <input type="text" id="lname" name="lname" placeholder="Last name">
        <br>
        <br>
        <label for="uname">Username:</label><br>
        <input type="text" id="uname" name="uname" placeholder="User Name" required>
        <br>
        <br>
        <label for="email1">Email Id:</label>
        <br>
        <input type="email" id="email1" name="email1" placeholder="name@example.com">
        <br><br>
        <label for="pho">Phone no.</label>
        <br>
        <input type="number" id="pho" name="pho" placeholder="Phone Number">
        <br>
        <br>
        <label for="pass1">Password:</label>
        <br>
        <input type="password" id="pass1" name="pass1" placeholder="Password" required>
        <br><br>
        <label for="pass2">Conform Passoword:</label><br>
        <input type="password" id="pass2" name="pass2" placeholder="Conform Password" required>

        <br><br>
        <input class="sub" type="submit" value="singin">

    </form>
</div>


{% endblock %}